[Unit]
Description=Complete KosmOS setup
After=network-online.target
Wants=network-online.target


[Service]
Type=idle
ExecStart=/usr/local/bin/kosmos-setup-wrapper.sh
StandardOutput=journal
StandardError=inherit
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

